.browseContainer {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.browseItemDate {
  display: inline-block;
  width: 100px;
  float: left;
  margin: 0px 15px;
  background-color: hsla(0,0,20%,1.0);
}

.browseItemTitle {
  margin: 0px 15px;
}

.browseItemNeighborhood {
  display: block;
  float: left;
}

.blank {
  color: #bbb
}

.List {
  border: 1px solid #e0e0e0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 25px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}