/** {
  border-radius: 0px !important;
}*/

.tabs {
  margin-top: 10px;
}

.listDiv {
  margin-right: 10px;
}

.listGroupItem {
  padding: 4px 10px;
}

.label {
  display: inline-block !important;
}

.dropdowns {
  overflow-y: scroll;
}

.dashboardFooter, .dashboardHeader, .charts, .leftInfo, .rightInfo {
  padding: 10px;
  margin: 5px 0px;
  background-color: red;
  border: 1px solid black;
}

.dashboardFooter, .dashboardHeader {
  background-color: red;
  border: 1px solid black;
}

.leftInfo, .charts, .rightInfo {
  height: 60vh;
}

.tableDiv {
  margin-top: 10px !important;
  width: 48%;
}

.blank {
  color: #bbb
}

customSort {
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.tableBodyCustomTable {
  overflow-y: scroll;
  /*height: 580px;*/
}

.saveListing {

}

.favorited {

}

.notFavorited {

}