.col {
  background-color: red !important;
}

.listingEntry {
  padding: 0px;
  font-weight: 400;
}

.postDate {
  text-decoration: line-through;
}

.gridOverflow {
  overflow: hidden;
}

.title {
  font-weight: 400
}

.dateAndPrice {
  text-align:
}

.container {
  padding: 0px !important;
  margin: 0px !important;
}