button {
  border-radius: 0px !important;
}

.jumbotron {
  background-color: #DCE1DE !important;
}

.points {
  color: #216869;
  font-weight: 400 !important;
}

.thirdsGrid {
  display: flex;
}

.thirds:nth-of-type(2n) {
  line-height: 2em;
  padding: 0px 40px;
}

.thirds h2 {
  color: #216869;
  font-weight: 400;
}

.thirdsP {
  height: 9em;
  font-size: 14pt;
}

.thirds button {
  width: 100%;
}

.insider {
  letter-spacing: .1em;
  font-family: sans-serif;
  border: 1px solid #216869;
}

.in {
  /*background-color: #216869;*/
  /*color: #DCE1DE;*/
}

.sider {
}