* {
  border-radius: 0px !important;
}

.label {
  display: inline-block !important;
}

.listHeader {
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}
.checkbox {
  width: 80px;
  border-radius: 0px !important;
}

.listDiv {
  width: 190px;
  padding-right: 10px;
}

.controlHeading {
  margin: auto;
}

.panel-heading {
  height: 20px !important;
}