body {
  font-family: "Helvetica Neue", Arial;
  font-weight: 200;
}

h1, h2, h3 {
  font-weight: 100;
}

a {
  color: hsl(200, 50%, 50%);
}

a.active {
  color: hsl(20, 50%, 50%);
}

.breadcrumbs a {
  text-decoration: none;
}

.navbar {
  padding: 10px 20px;
  overflow: hidden;
  background-color: rgb(40, 54, 61);
  color: rgb(255, 255, 255);
}

.navButton {
  font-size: 18px;
  padding: 10px 10px;
  color: hsl(0,0,10);
  height: 100%;
}

.active {
  background-color: hsla(0,80%,100%,1);
  color: hsla(0, 0%, 34%, 1);
  border-bottom: 3px solid #cc7a6f;
}

a, a:hover, a:visited, a:focus {
  color: hsla(0, 0%, 64%, 1);
  text-decoration: none;

}