body {
  font-family: "Helvetica Neue", Arial;
  font-weight: 200;
}

nav {
  margin-bottom: 0px !important;
  border-top: 1px solid rgb(60, 81, 90) !important;
  border-left: 1px solid rgb(60, 81, 90) !important;
  border-right: 1px solid rgb(60, 81, 90) !important;
}

.breadcrumbs a {
  text-decoration: none;
}

.navbar {
  padding: 8px 20px;
  margin: 0px !important;
  overflow: hidden;
  background-color: rgb(40, 54, 61);
  color: rgb(255, 255, 255);
}

.navButton {
  font-size: 18px;
  padding: 14px 10px;
  color: hsl(0,0,10);
  position: relative;
}

.navButton:hover {
  background-color: rgb(60, 81, 90);
  border-bottom: 10px solid #49A078;
}

.active, p.active {
  background-color: rgb(60, 81, 90);
  color: hsla(0, 0%, 34%, 1);
  border-bottom: 11px solid #49A078;
}

a, a:hover, a:visited, a:focus {
  color: hsla(0, 0%, 64%, 1);
  text-decoration: none;

}