

nav {
  margin-bottom: 0px !important;
  border-top: 1px solid rgb(60, 81, 90) !important;
  border-left: 1px solid rgb(60, 81, 90) !important;
  border-right: 1px solid rgb(60, 81, 90) !important;
}


.breadcrumbs a {
  text-decoration: none;
}

.navbar {
  /*padding: 8px 20px;*/
  margin: 0px !important;
  overflow: hidden;
  float
  background-color: rgb(40, 54, 61);
  color: rgb(255, 255, 255);
}

.navButton {
  display: inline-block;
  font-size: 16px;
  padding: 5px 10px;
  color: hsl(0,0,10);
  position: relative;
  border-bottom: 5px solid rgb(255, 255, 255);

}

.navButton:hover {
  border-bottom: 5px solid #49A078;
}

.active, p.active {
  background-color: rgb(60, 81, 90);
  color: hsla(0, 0%, 34%, 1);
  border-bottom: 11px solid #49A078;
}

a, a:hover, a:visited, a:focus {
  color: hsla(0, 0%, 64%, 1);
  text-decoration: none;

}

#logout {

}